.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  list-style: none;
}

.image{
max-width: 200px;
height: 300px;
}

.item {
  max-width: 240px;
  list-style: none;
}

/* li{
} */